<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_aop.repository.SysLogEntityMapper">
  <resultMap id="BaseResultMap" type="com.example.demo_aop.domain.SysLogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="module" jdbcType="VARCHAR" property="module" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="args" jdbcType="VARCHAR" property="args" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operation, module, user, ip, method, args, time, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from syslogentity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from syslogentity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo_aop.domain.SysLogEntity">
    insert into syslogentity (id, operation, module, 
      user, ip, method, args, 
      time, createTime)
    values (#{id,jdbcType=INTEGER}, #{operation,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, 
      #{user,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{args,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo_aop.domain.SysLogEntity">
    insert into syslogentity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="args != null">
        args,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="args != null">
        #{args,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo_aop.domain.SysLogEntity">
    update syslogentity
    <set>
      <if test="operation != null">
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="args != null">
        args = #{args,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo_aop.domain.SysLogEntity">
    update syslogentity
    set operation = #{operation,jdbcType=VARCHAR},
      module = #{module,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      args = #{args,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>